/Proyecto_pizza/build/
/Proyecto_pizza/dist/
/Proyecto_pizza/nbproject/private/
/View_pizzeria/build/
/View_pizzeria/nbproject/private/
/View_pizzeria/dist/
/View_pizzeria - copia/build/
/View_pizzeria - copia/dist/
/View_pizzeria - copia/nbproject/private/